.frame {
    /* Width will be calculated dynamically in the Video component */
    /* width: calc(12.8 * 80px); */
    display: flex;
    flex-wrap: wrap;
}

.frame input[type="checkbox"] {
    /* Chrome's default checkbox width: 12.8px*/
    width: 12.8px;
    height: 12.37px;
    /* Flex-basis will be calculated dynamically in the Video component */
    /* flex-basis === 100/Number of items (row) */
    /* flex-basis: 2.5%; */
    flex-basis: 1.25%;
    margin: 0;
}
